/* .my-grid{
    display: grid;
    grid-template-columns: auto 10fr 10fr;
    grid-template-rows: auto 10000px;
}
has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
  }

  .has-yellow-background {
    background-color: #183fbf;
    border: 1px solid #E38C1E;
  } */
  .four-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    /* grid-template-rows: auto 100px; */

  }


  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 04px;

  }
h1 {
  color: green;



}

h3 > a {
  color: green;
}

nav > a {
  color: white;
  border-bottom: 1px black;
  padding: 16px;
}
main {
  padding: 16px;
}
img {
  height: 200px;
}
header > nav {
  border: 1px solid black;
  background-color: tomato;

}
header {
  border-bottom: 1px black;
}

footer{
  border-width: greenyellow;
  background-color: greenyellow;
  border: 10em;
  padding: 20px;
}
